.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.logo{
    width: 240px;
}

.nav-items >ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items >ul >li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    width: 200px;  
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    color: black;
    text-decoration: none !important;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}

.res-logo{
    width:100%;
    height:37%
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none !important;
}
.res-container>a{
    text-decoration: none !important;
}
.filter {
    margin-top: 10px;
}
.filter-btn {
    padding: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: #f0f0f0;
}

.login-btn {
    padding: 10px 20px;
    margin: 10px 5px;
}
.ErrorPage{
    display: flex;
    border: 1px solid red;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
}

.filter{
    display: flex;
}
.search-btn{
    margin-left: 5px;
}
.menu-card{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid green;
    border-radius: 4px;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 300px;
    margin-top: 20px;
    padding: 10px;

}
.menu-card>ul{
    text-decoration: none;
}